body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.artworkCard {
  width: 30%;
  background-color: magenta;
  height: auto;
  display: inline-block;
  text-align: center;
  gap: 200em;
}

img.galleryView {
  max-height: 20em;
  width: auto;
}
