* {
  background-color: cornsilk;
}

body {
  font-family: "cambria";
}

a {
  text-decoration: none;
}

label {
  display: block;
}

h1 {
  text-align: center;
}

nav a {
  display: inline-flex;
  /* margin: 1em; */
  background-color: cornsilk;
  padding: 0.7em;
  border-radius: 10px;
  gap: 10px;
}

nav a:hover {
  display: inline-block;
  /* margin: 1em; */
  background-color: yellowgreen;
  padding: 0.7em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.headTxt {
  /* font-family: "cursive"; */
  padding: 0.5em;
  margin: 0.5em;
  /* padding-top: 0.5em;
  padding-left: 0.5em; */
  background-color:	darkseagreen;
  width: 7em;
  border-radius: 20px;
  color: whitesmoke;
}

.artworkCard {
  width: auto;
  background-color: darkseagreen;
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 2em;
  border: solid black 1px;
  font-family: "cambria";
  margin: 2em;
  border-radius: 20px;
}

img.galleryView {
  max-height: 20em;
  width: auto;
}

#singleArt {
  font-family: "cambria";
  text-align: center;
}

.singleImg {
  max-height: 60em;
  width: auto;
}

h1.profileTitleText{
  display: inline;
  margin: 0.5em;
}

.profileParentDiv {
  text-align: center;
  padding: 3em;
}

.avatarProfile {
  height: 7em;
  width: 7em;
}

#singlePrompt {
  text-align: center;
}